<!DOCTYPE html>

<html>
<head>
    @* meta *@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*<link rel="icon" href="../../favicon.ico">*@
    <title>@ViewBag.Title</title>

    @* load css *@
    <link href="../../Content/mvcfileupload/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/carousel.css" rel="stylesheet">
    <link href="../../Content/_site.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.css" rel="stylesheet" />

    @RenderSection("style", false)

    @* load js *@
    <script src="../../Scripts/jquery-2.1.1.js"></script>
    <script src="../../Scripts/jquery-ui-1.10.4.js"></script>
    <script src="../../Scripts/jquery.validate.js"></script>
    @*<script src="../../Scripts/knockout-3.1.0.js"></script>*@
    <script src="../../Scripts/knockout-3.1.0.debug.js"></script>
    <script src="../../Scripts/mvcfileupload/vendor/bootstrap.min.js"></script>
    <script src="../../Scripts/ckeditor/ckeditor.js"></script>
    <script src="../../Scripts/ctrls/pagination.js"></script>
    <script src="../../Scripts/locale/common.js"></script>
    <script src="//www.google.com/jsapi"></script>

    <script src="../../Scripts/_app.js"></script>

    @RenderSection("Scripts", false)
</head>
<body>
    @* navbar *@
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">艾認養</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/News" title="最新消息">最新消息</a></li>
                            <li><a href="/Activity" title="最新活動">最新活動</a></li>
                            <li><a href="/Animal" title="待認養動物">帶它回家</a></li>
                            <li><a href="/Shelters" title="全台收容所資訊">收容所</a></li>
                            <li><a href="/Help" title="需要你立即前往救援的動物們">即刻救援</a></li>
                            <li><a href="/Blog" title="部落格文章">它與他的故事</a></li>
                            <li><a href="/Ask" title="問與答">我有問題</a></li>
                            <li><a href="/Knowledge" title="相關知識">增廣見聞</a></li>
                            @*<li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">看更多 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>*@
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">哈囉!! @User.Identity.Name 您好 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Account/ChangePassword" title="變更密碼">變更密碼</a></li>
                                    <li><a href="/Account" title="會員中心">會員中心</a></li>
                                    <li><a href="/Account/SignOut" title="登出" target="_self">登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    @* container *@
    <div>
        @RenderBody()
    </div>
    <div>
    </div>
    <hr>
    <footer class="container">
        <p>&copy; LoveAdopt 2014 認養代替購買，就從"艾認養"開始…</p>
    </footer>
</body>
</html>